@import "../mixins/media";
@import "../mixins/clearfix";

/*
カテゴリ（アイテム3列）

トップページで使用されているカテゴリのスタイルです。

ex [トップページ](http://demo3.ec-cube.net/)

Markup:
sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>
</div>

Styleguide 12.7.1
*/

.ec-corpse-newReleaseRole {
  padding: 40px 0;
  color: black;

  @include media_desktop {
    padding: 15px 0;
  }
  & &__Heading {
    font-size: 2em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 30px;
  }
  & &__breweryName {
    font-size: 1.6em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
  }
  & &__tags {
    margin-top: 16px;
    padding: 0;
  }
  & &__tag {
    display: inline-block;
    margin: 2px 0;
    padding: 2px 5px;
    list-style: none;
    font-size: 80%;
    color: #525263;
    border: solid 1px #D7DADD;
    border-radius: 3px;
    background-color: #F5F7F8;
  }
}
