@import "../mixins/media";
@import "../mixins/clearfix";

/*
カテゴリ（アイテム3列）

トップページで使用されているカテゴリのスタイルです。

ex [トップページ](http://demo3.ec-cube.net/)

Markup:
sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>
</div>

Styleguide 12.7.1
*/

.ec-corpse-tagStyleRole {
  padding: 40px 0;
  color: black;

  @include media_desktop {
    padding: 60px 0;
  }

  & &__list {
    display: flex;
    flex-wrap: wrap;

    @include media_desktop {
      flex-wrap: nowrap;
    }

    a {
      color: #000000;
      text-decoration: none;
    }
  }
  & a &__listItem {
    padding: 15px 0;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    border: solid #cccccc;
    border-radius: 5px;
  }
  & a {
    @include media_desktop {
      width: calc(100% / 3);

      &:not(:last-of-type){
        margin-right: 30px;
      }
    }
  }
  & &__itemIcon {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 18px;
    color: black;
    @include media_desktop {
      margin-right: 0;
      font-size: 20px;
    }
  }
}
